<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Вакансии</title>
</head>
<body>
<table>
    <tr>
        <th>Title</th>
        <th>City</th>
        <th>Company Name</th>
        <th>Salary</th>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://google.com">Java Developer</a></td>
        <td class="city">Some city</td>
        <td class="companyName">Some company</td>
        <td class="salary">10000000</td>
    </tr>

    <tr class="vacancy template">
        <td class="title"><a href="url"></a></td>
        <td class="city"></td>
        <td class="companyName"></td>
        <td class="salary"></td>
    </tr>
</table>
</body>
</html>